body {
    text-align: center;
    

}

h1 {
    font-size:5rem;
    font-family: "Joti One", cursive;

}

p {
    font-family: "Joti One", cursive;

}

footer {
    font-family: "Joti One", cursive;

}

.w {
    background-image: url(images/tom1.png);

}


.s {
    background-image: url(images/tom2.png);

}

.d {
    background-image: url(images/tom3.png);

}

.a {
    background-image: url(images/tom4.png);

}

.j {
    background-image: url(images/crash.png);

}

.k {
    background-image: url(images/kick.png);

}

.l {
    background-image: url(images/snare.png);


}

.set {
    margin: 10% auto;

}

.game-over {
    background-color: red;

}

.pressed { 
    box-shadow:0 3px 4px #ffd700;
    opacity: 0.5;
}

.drum {
    color: #f32013;
    outline: none;
    text-shadow:#f32013;
    border: 10px;
    font-family: "Joti One", cursive;
    font-size: 5rem;
    line-height: 2;
    font-weight: 900;
    text-shadow: 3px 0;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    
}


